In [ ]:
#SECTION A

In [ ]:
print("Hello Python")

Hello Python

In [ ]:
a= int(input("Enter your number " ))
b= int(input("Enter your second number " ))
c = a + b
print(c)

Enter your number 1
Enter your second number 2
3

In [ ]:
a= int(input("Enter your number " ))
b= int(input("Enter your second number " ))
c = a / b
print(c)

Enter your number 2
Enter your second number 2
1.0

In [ ]:
a= int(input("Enter your base " ))
b= int(input("Enter your Height " ))
c= 0.5*a*b
print(c)

Enter your base 2
Enter your Height 3
3.0

In [ ]:
x = int(input("Enter your number " ))
y = int(input("Enter your second number " ))

y,x = x,y
print("x =", x)
print("y =", y)

Enter your number 1
Enter your second number 2
x = 2
y = 1

In [ ]:
import random

print(random.randint(0,9))

8

In [ ]:
#Section B

In [ ]:
x = int(input("Enter your number " ))
print (x*0.621371  , "miles")

Enter your number 100
62.137100000000004 miles

In [ ]:
x = int(input("Enter your number " ))
print (x*32  , "fahrenheit")

Enter your number 1
32 fahrenheit

In [ ]:
import calendar
yy = int(input("Enter year: "))


# display the calendar
print(calendar.calendar(yy))

Enter year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [ ]:
x = int(input("Enter your number " ))
y = int(input("Enter your second number " ))

y,x = x,y
print("x =", x)
print("y =", y)

Enter your number 1
Enter your second number 3
x = 3
y = 1

In [ ]:
#SECTION C

In [ ]:
x = int(input("Enter your number " ))
if x>0:
  print("number is positive")
elif x<0:
  print("number is negative")
else:
  print("number is zero")

Enter your number 0
number is zero

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

1

In [ ]:
num = int(input("Enter a number: "))
if (num % 4) == 0:
   print("{0} is leap".format(num))
else:
   print("{0} is not leap".format(num))

Enter a number: 2024
2024 is leap

In [ ]:
# Program to check if a number is prime or not

num = int(input("Enter your number: "))

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter your number: 7
7 is a prime number

In [ ]:
for num in range(1,10000+1):
  if num>1:
    for i in range(2,10000+1):
      if num%i==0:
        break
      else:
        print(num)

In [ ]:
#SECTION D

In [ ]:
num = int(input("Enter your number: "))
factorial=1
for i in range(1,num + 1):
     factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter your number: 3
The factorial of 3 is 6

In [ ]:
Write a Python Program to Display the multiplication Table?

number = int(input())
for i in range(1,11):
  print(number," x ",i," = ",number*i)

In [ ]:


    Write a Python Program to Print the Fibonacci sequence?

nthterm = int(input())
a = 0
b = 1
res = 0
if nthterm <= 0 : 
  print("Not valid")
elif nthterm == 1:
  print(a)
else:
  print("Fibonnaci Sequence: ")
  while res < nthterm :
    print(a)
    nth= a + b
    a = b 
    b = nth
    res += 1

In [ ]:


    Write a Python Program to Check Armstrong Number?

num = int(input("Enter a number: "))
sum = 0 
temp = num 
while temp > 0:
  digit = temp%10
  sum += digit**3
  temp = temp//10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

    Write a Python Program to Find Armstrong Number in an Interval?

lower  = int(input("enter the lower limit: "))
upper = int(input("enter the upper limit: "))
for i in range(lower, upper+1):
  sum =0
  num = i
  while(i!=0):
    digit=i%10
    sum = sum + (digit**3)
    i = i//10
  if num == sum:
    print(num)

In [ ]:


    Write a Python Program to Find the Sum of Natural Numbers?

def sumofn(n):
   if n <= 1:
       return n
   else:
       return n + sumofn(n-1)
x = int(input("Enter a number: "))
res = sumofn(x)
print(res)

In [ ]:
Section E:

In [ ]:
Write a Python Program to find sum of array?

arr = [12, 3, 4, 15, 25]
for i in arr:
  sum += i
print(sum)

In [ ]:
 Write a Python Program to find largest element in an array?

arr = [12, 3, 4, 15, 25, 923]
largest = 0
for i in range(len(arr)):
  if arr[i] > largest:
    largest = arr[i]
print(largest)

In [ ]:
 Write a Python Program for array rotation?

arr = [1, 2, 3, 4, 5]
n = 2
print("Original array")
for i in range(0,len(arr)):
    print(arr[i])
for i in range(0,n):
    first = arr[0]
    for j in range(0,len(arr)-1):
        arr[j] =  arr[j+1]
    arr[len(arr) - 1] = first

print("Array after left rotation: ")
for i in range(0, len(arr)):
    print(arr[i])

In [ ]:
 Write a Python Program to Split the array and add the first part to the end?

def split(arr, k):
    arr = arr[k:] + arr[:k]
    return arr
   
k = 2
arr = [10, 13, 5, 17]
print("Output array is", split(arr, k))

In [ ]:
Write a Python Program to check if given array is Monotonic?

def isMonotonic(A):
   return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
      all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
A = [1,2,3,4,7,8]
print(isMonotonic(A))

In [ ]:
Section F:

In [ ]:
Write a Python program to find sum of elements in list?

list = [1, 2, 3, 1, 2, 5]
sum = 0
for i in list:
  sum += i
print(sum)

In [ ]:
Write a Python program to Multiply all numbers in the list?

list = [1, 2, 3, 1, 2, 5]
product = 1
for i in list:
  product *= i
print(product)

In [ ]:
Write a Python program to find smallest number in a list?

list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[:1])

In [ ]:
Write a Python program to find largest number in a list?

list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[-1:])

In [ ]:
Write a Python program to find second largest number in a list?

list1 = [10, 20, 1, 45, 99]
list1.sort()
print(list1[-2:-1])

In [ ]:
Write a Python program to find N largest elements from a list?

def function1(lis, N):
    list2 = []

    for i in range(0, N):
        max1 = 0

        for j in range(len(lis)):
            if list1[j] > max1:
                max1 = list1[j];

        list1.remove(max1)
        list2.append(max1)

    print(list2)


list1 = [22, 26, 41, 985, 0, 3, 17, 66, 10]
N = int(input())
function1(list1, N)

In [ ]:
Write a Python program to print even numbers in a list?

list1 = [10, 20, 1, 45, 99]
for i in list1:
  if i%2 == 0:
    print(i)

In [ ]:
Write a Python program to print odd numbers in a List?

list1 = [10, 20, 1, 45, 99]
for i in list1:
  if i%2 != 0:
    print(i)

In [ ]:
Write a Python program to Remove empty List from List?

list2 = [10, 20, 1, 45, 99, [] ,984 , [] , 23, [3,4]]

newlist = []
for i in list2:
  if i:
    newlist.append(i)
print(newlist)

In [ ]:
Write a Python program to Cloning or Copying a list?

list3 = [10, 22, 44, 23, 4, 34]
new_list = list3.copy()
print(list3)
print(new_list)

In [ ]:
Write a Python program to Count occurrences of an element in a list?

list3 = [10, 22, 44, 23, 4, 34, 10, 10, 10 , 10]
x = 10
y = []
for i in list3:
  if i == x:
    y.append(i)

print("int 10 is repeated:",len(y),"times")